body {
    font-family: Arial;
    font-size: 1.2em;
}

.allergies {
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
    border:white 2px dotted;
}

button:hover {
    background-color: lawngreen;
    color: white;
    cursor: pointer;
}

section {
    margin: 20px;
    border: black 2px dotted;
    padding: 20px;
}

button {
    margin: 10px;
}

header {
    position: relative;
    margin: 20px;
    height: 300px;
    overflow: hidden;
}

#burger_header {
    opacity: 0.;
    width: auto;
}

.wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}